<% provide(:title, "仓库管理") %>
<table>
  <thead>
    <th>名称</th>
    <th>库存商品</th>
    <th>本月入库</th>
    <th>成本</th>
  </thead>
  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.name %></td>
        <td><%= warehouse.description %></td>
        <td><%#= warehouse.orders.sum(:amount) %></td>
        <td><%#= warehouse.created_at %></td>
        <td><%= link_to '详情', wap_warehouse_path(warehouse) %></td>
      </tr>
    <% end %>
  </tbody>
</table>