<% provide(:title,"资产") %>

<div class="html listing">
  <div class="topline">
    <a href="javascript:;" class="back" id="J_back" data-back='<%= wap_assets_path %>'></a>
    <a href="javascript:;" class="sear" id="J_sear"></a>
    <p class="text"><%= @user.department.name %>资产</p>
  </div>
  <div class="dtlist"></div>
  <a href="javascript:;" class="botmore" id="J_more">点击加载更多</a>
</div>

<!-- 搜索 -->
<div class="tippop_bg tippop_add dsn" id="J_searbox">
  <div class="tippop_alert">
    <p class="tippop_alert_t">请输入资产名称</p>
    <p class="tippop_input"><input type="text" class="ctrol" id="J_key" placeholder="请输入资产名称"></p>
    <p class="tippop_alert_b">
      <a class="tippop_confirm_btn" id="J_close">返回</a>
      <a class="tippop_confirm_btn" id="J_gosear">搜索</a>
    </p>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var sc = getRequest();

    //加载更多
    var J_more = $('#J_more'),
      ajaxdata = {"page":1,"pagesize":7}, // 获取订单列表用的数据
      isajax = false, //设置开关 防止重复提交
      isdone = false; // 是否加载完成

    // 获取列表
    function getajax(){
      isajax = true;
      J_more.html('正在加载···');
      $.ajax({
        type: "GET",
        url: "/wap/plant_assets",
        data: {'ajaxdata': ajaxdata, 'q': "<%= params[:q] %>"},
        dataType: "json",
        success: function(res){
          // console.log(res.data)
          var dt = res.data, len = dt.length, str = '';
          for(var i=0; i<len; i++){
            var v = dt[i];
            str += '  <a href="/wap/plant_assets/'+v.no+'" class="item"><p class="itl">'+v.no+'</p><p class="desc">'+v.fn+'&ensp;&ensp;'+v.sc+'</p><p class="belo">'+v.de+'</p></a> '
          }
          $('.dtlist').append(str)

          // 判断更新加载条件
          setTimeout(function(){
            isajax = false;
            if(len<ajaxdata.pagesize){ // 此处的8表示返回数据的长度，ruby渲染
              isdone = true;
              J_more.html('');
            }else{
              J_more.html('点击加载更多')
            };
          },100)
        }
      });
    };

    getajax(); // 获取首次订单数据

    J_more.click(function(){
      if(isajax || isdone){return false;}
      ajaxdata.page++;
      getajax();
    });

    // 搜索
    var J_searbox = $('#J_searbox'),
      J_key = $('#J_key')

    $('#J_sear').click(function(){
      J_searbox.show();
    });
    $('#J_close').click(function(){
      J_searbox.hide();
    });
    $('#J_gosear').click(function(){
      var val = J_key.val().trim();
      // console.log(val);
      if(val.length==0){
        CUES.tip({"msg":"请输入资产名称","type":"danger"});
        return false;
      };

      // 加参数并刷新本页面
      window.location.href = "<%= wap_plant_assets_path %>?q="+val;
    });

  });
</script>
