
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="/asset/stylesheets/main-20170806.css" rel="stylesheet" type="text/css" />

    <script language="javascript" type="text/javascript" src="/asset/javascript/size.js"></script>
    <script language="javascript" type="text/javascript" src="/asset/javascript/jquery-2.1.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="/asset/javascript/func.js"></script>
    <script language="javascript" type="text/javascript" src="/asset/javascript/main.js"></script>

    <title><%= yield(:title) || '保护区' %></title>

    <%= javascript_include_tag "jquery", "jquery_ujs" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      window.main.showBtmbar();
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
