<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li><i class="icon-home home-icon"></i><a href="<%= console_url %>">首页</a></li>
        <li><a href="javascript:;">控制台</a></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="col-xs-12">当前时间：<%= Time.now %></div>
    </div>
  </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    function load_chart(){
      $.ajax({
          type: "GET",
          url: "/console.js",
          success: function(data) {
            return false;
          },
          error: function() {
            return false;
          }
        });
    }
    // load_chart();
  </script>
<% end %>
