<form>
  <div class="modal-body">
    <div style="width: 100%; text-align: center; padding-left: 100px;">
      <ul class="ace-thumbnails">
        <li>
          <a href="javascript:;" class="">
            <%= raw @plant_asset.preview %>
            <div class="text"><div class="inner downLoadText">下载</div></div>
          </a>
          <!-- <b><%= @plant_asset.name %></b> -->
        </li>
      </ul>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" data-fn="submit" onclick="$('.modal-backdrop', window.parent.document).remove();$('.modal-iframe', window.parent.document).remove();">关闭</button>
  </div>
</form>

<% content_for :custom_js do %>
    <script src="/assets/bootstrap-editable.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('.ace-thumbnails').on('click', 'li', function(){
                window.location.href = '<%= download_admin_plant_asset_path(@plant_asset) %>';
            });
        });
    </script>
<% end %>