<% provide(:title,"创建新盘点") %>

<div class="html pandian_new">
  <div class="topline">
    <a href="javascript:;" class="back" id="J_back"></a>
    <p class="text">创建新盘点</p>
  </div>
  <div class="box">
    <%= form_for [:wap, @asset_check] do |f| %>
      <%= f.hidden_field :start_time, value: Time.now %>
      <p class="input">
        <%= f.text_field :name , placeholder: "请输入盘点名称", id: 'J_til', class: 'ctrol'%>
      </p>
      <a href="javascript:;" class="box_btn box_btn_dis1" id="J_add">创建</a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var J_til = $('#J_til'),
      J_add = $('#J_add');

    // J_til.change(function(){
    //   var v = J_til.val().trim();
    //   if(!v || v.length==0){
    //     J_add.addClass("box_btn_dis");
    //   }else{
    //     J_add.removeClass("box_btn_dis");
    //   }
    // });

    J_add.click(function(){
      if( $('#J_til').val()=='' ){
        CUES.tip({"msg":"请输入盘点名称","type":"danger"});
        return false;
      };

      $('form').submit();

      // $.ajax({
      //   type: "GET",
      //   url: "/asset/api/callback.json?v="+(new Date().getTime()),
      //   data: {},
      //   dataType: "json",
      //   success: function(res){
      //     CUES.tip({"msg":"新盘点创建成功","type":"success","callback":function(){
      //       window.location.href = "<%#=wap_asset_check_path(asset_check)%>";
      //     }});
      //   }
      // });
    });
  });
</script>
