<% provide(:title, "库存盘点") %>

<h4>选择需要盘点的仓库</h4>

<%= form_for @warehouse_check, url: wap_warehouse_checks_path do |f| %>
  <%= f.select :warehouse_id, @user.shop.warehouses.joins(:products).where("products.quantity > 0").pluck(:name, :id) %>

  <br><br><br>
  <%= f.submit "创建" %>
<% end %>