<div class="botnav">
	<a href="<%= tiny_guide_home_path %>" class="tn_ls"><p class="tn_icon icon_a"><i class="iconfont icon-home"></i></p><p class="tn_name">首页</p></a>
	<a href="<%= tiny_guide_plans_path %>" class="tn_ls"><p class="tn_icon icon_b"><i class="iconfont icon-shijian"></i></p><p class="tn_name">排班</p></a>
	<a href="#" class="tn_ls"><p class="tn_icon icon_d"><i class="iconfont icon-lights"></i></p><p class="tn_name">提醒</p></a>
	<a href="<%= tiny_guide_notices_path %>" class="tn_ls active"><p class="tn_icon icon_e"><i class="iconfont icon-remind"></i></p><p class="tn_name">公告</p></a>
</div>